@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionCreateTickets {
  @include width(100%, 100%);
  padding: 0 0 0.5rem 0;
  .accordionSection {
    @include centerFlex(flex, row, center, center, 2rem);
    @include width(100%, 100%);
    padding: 1rem;
    flex-wrap: wrap;
    background-color: $white-900;
    .area {
      @include width(17rem, 17rem);
      .accordionArea {
        @include height(3rem, 3rem);
        background-color: $white-100;
        border-radius: 0.4rem;
        position: relative;
        z-index: 99;
        h2 {
          font-size: 1.1rem;
        }
        ol {
          background-color: $white-100;
          position: relative;
          z-index: 99;
          padding: 0.4rem 0 0 0;
          border: 0.2rem solid $pumpkin-700;
          border-radius: 0 0 0.4rem 0.4rem;
          li {
            @include centerFlex(flex, row, space-between, center, 2rem);
            @include width(100%, 100%);
            padding: 0.5rem 1rem;
            cursor: default;
            .deleteButton {
              @include centerFlex(flex, row, center, center, 0);
              @include button(rgb(255, 44, 44), none);
              @include width(2rem, 2rem);
              @include height(2rem, 2rem);
            }
            .addButton {
              @include centerFlex(flex, row, center, center, 0.1rem);
              @include button($white-100, 0.2rem solid $pumpkin-600);
              @include width(100%, 100%);
              @include height(3rem, 3rem);
              color: $pumpkin-600;
              font-size: 1.1rem;
              svg {
                @include width(1.4rem, 1.4rem);
                @include height(1.4rem, 1.4rem);
              }
              &:hover {
                background-color: $pumpkin-600;
                color: $white-100;
              }
            }
          }
          .liForm {
            @include centerFlex(flex, column, center, center, 1rem);
            @include width(100%, 100%);
            padding-bottom: 0.7rem;
            form {
              @include centerFlex(flex, column, center, center, 1rem);
              @include width(100%, 100%);
              input {
                @include width(100%, 100%);
                @include height(2.2rem, 2.2rem);
                font-size: 1rem;
                padding: 0.2rem 0.4rem;
                border: 0.15rem solid $white-950;
                border-radius: 0.2rem;
              }
              div {
                position: relative;
                z-index: 9999;
                div {
                  div {
                    div {
                      @include height(100%, 100%);
                    }
                  }
                }
              }
              button {
                @include centerFlex(flex, row, center, center, 0);
                @include button(rgb(27, 126, 27), none);
                border-radius: 0.4rem;
                font-size: 1.1rem;
              }
            }
          }
        }
        button {
          @include centerFlex(flex, row, space-between, center, 0);
          @include width(100%, 100%);
          @include height(3rem, 3rem);
          @include button(transparent, none);
          font-size: 1rem;
          border-radius: 0.4rem;
          transition: 0.1s ease;
          h2 {
            @include centerFlex(flex, row, space-between, center, 0);
            @include width(100%, 100%);
            @include height(3rem, 3rem);
            padding: 0 1rem;
            span {
              @include centerFlex(flex, row, center, center, 0);
              margin-top: 0.2rem;
              svg {
                @include width(1.1rem, 1.1rem);
                @include height(1.1rem, 1.1rem);
              }
            }
          }
          &:hover {
            background-color: $pumpkin-700;
            color: $white-100;
          }
        }
        div {
          position: relative;
          z-index: -1;
        }
      }
      .open {
        border-radius: 0.4rem 0.4rem 0 0;
        button {
          border-radius: 0.4rem 0.4rem 0 0;
          background-color: $pumpkin-700;
          color: $white-100;
        }
        ol {
          li {
            .deleteButton {
              color: $black;
              border-radius: 0.4rem;
              &:hover {
                color: $white-100;
              }
            }
            .addButton {
              border-radius: 0.4rem;
            }
          }
        }
      }
    }
  }
}
