@import "./styles/variables.scss";
@import "./styles/mixins.scss";

main {
  @include centerFlex(flex, column, center, center, 0);
  .mainContainer {
    @include centerFlex(flex, row, space-between, center, 0);
    @include width(100%, 100%);
    position: relative;
    .mainSection {
      margin-left: 5rem;
    }
  }
}

.navBar {
  @include centerFlex(flex, row, space-between, center, 0);
  @include width(100%, 100%);
  @include height(4rem, 4rem);
  background-color: $white-100;
  h2 {
    padding: 1rem;
    font-size: 2.3rem;
    color: $pumpkin-600;
  }
  .profileContainer {
    @include centerFlex(flex, row, space-between, center, 1rem);
    padding-right: 1rem;
  }
}
