@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionFiltersPage {
  @include centerFlex(flex, column, flex-start, flex-start, 2rem);
  @include width(100%, 100%);
  @include height(100%, 100%);
  background-color: $white-700;
  h1 {
    @include centerFlex(flex, row, flex-start, center, 0.7rem);
    @include height(4rem, 4rem);
    @include width(100%, 100%);
    background-color: $white-200;
    padding: 1rem;
    font-size: 1.8rem;
    color: $white-950;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    cursor: default;
    span {
      @include centerFlex(flex, row, center, center, 0);
      color: $black;
    }
  }
  .allTickets {
    @include centerFlex(flex, column, center, center, 2rem);
    @include width(10rem, 10rem);
    margin: 0 1rem;
    padding: 1.5rem 1rem;
    background-color: $white-100;
    border-radius: 0.3rem;
    transition: 0.2s ease;
    cursor: pointer;
    .icon {
      @include centerFlex(flex, row, center, center, 0);
      @include height(3.5rem, 3.5rem);
      @include width(3.5rem, 3.5rem);
      transition: 0.2s ease;
      color: $pumpkin-700;
      svg {
        @include height(3.5rem, 3.5rem);
        @include width(3.5rem, 3.5rem);
      }
    }
    p {
      font-size: 1.5rem;
      color: $white-950;
      transition: 0.2s ease;
    }
    &:hover {
      .icon {
        color: $white-100;
      }
      p {
        color: $white-100;
      }
      background-color: $pumpkin-700;
      color: $white-100;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    }
  }
  section {
    @include centerFlex(flex, row, center, flex-start, 1rem);
    @include width(100%, 100%);
    @include height(auto, 100%);
    flex-wrap: wrap;
    div {
      @include width(40%, 100%);
      @include centerFlex(flex, column, center, center, 0);
      flex: 1;
      section {
        @include centerFlex(flex, row, flex-start, flex-start, 0);
        @include height(8.625rem, auto);
        .allAccounts {
          @include centerFlex(flex, column, center, center, 2rem);
          @include width(13rem, auto);
          @include height(8.625rem, 100%);
          margin: 1rem;
          padding: 1.5rem 1rem;
          background-color: $white-100;
          border-radius: 0.3rem;
          transition: 0.2s ease;
          flex: 0;
          cursor: pointer;
          h3 {
            @include width(100%, 100%);
            font-size: 1.5rem;
            color: $white-950;
            transition: 0.2s ease;
            text-align: center;
          }
          p {
            @include centerFlex(flex, row, center, center, 0);
            @include width(3rem, 3rem);
            @include height(3rem, 3rem);
            font-size: 1.5rem;
            color: $white-700;
            background-color: $white-200;
            border-radius: 100%;
            transition: 0.2s ease;
          }
          &:hover {
            background-color: $pumpkin-700;
            color: $white-100;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
            p {
              color: $white-100;
              background-color: $pumpkin-800;
            }
            h3 {
              color: $white-100;
            }
          }
        }
      }
    }
  }
}
