@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionFiltersPage {
  @include centerFlex(flex, column, flex-start, flex-start, 2rem);
  @include width(100%, 100%);
  h1 {
    @include centerFlex(flex, row, flex-start, center, 0.7rem);
    @include height(4rem, 4rem);
    @include width(100%, 100%);
    background-color: $white-200;
    padding: 1rem;
    font-size: 1.8rem;
    color: $white-950;
    cursor: default;
    span {
      @include centerFlex(flex, row, center, center, 0);
      color: $black;
    }
  }
  .allTickets {
    @include centerFlex(flex, column, center, center, 2rem);
    @include width(10rem, 10rem);
    margin: 0 1rem;
    padding: 1.5rem 1rem;
    background-color: $white-100;
    border-radius: 0.3rem;
    cursor: pointer;
    .icon {
      @include centerFlex(flex, row, center, center, 0);
      @include height(3.5rem, 3.5rem);
      @include width(3.5rem, 3.5rem);
      svg {
        @include height(3.5rem, 3.5rem);
        @include width(3.5rem, 3.5rem);
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
}
