@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionTicketInfo {
  @include centerFlex(flex, column, flex-start, center, 0.5rem);
  @include width(100%, 100%);
  h1 {
    @include centerFlex(flex, row, flex-start, center, 0.5rem);
    @include height(4rem, 4rem);
    @include width(100%, 100%);
    background-color: $white-200;
    padding: 1rem;
    font-size: 1.8rem;
    color: $white-950;
    cursor: default;
    span {
      @include centerFlex(flex, row, center, center, 0);
      color: $black;
    }
  }
  .tableContainerTwo {
    @include centerFlex(flex, row, center, center, 0);
    @include width(100%, 100%);
    padding: 0 1rem;
    background-color: $white-500;
    .tableContainer {
      @include centerFlex(flex, row, flex-start, center, 0);
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0;
      table {
        @include centerFlex(inline-flex, column, center, center, 0.1rem);
        @include width(auto, auto);
        @include height(100%, 100%);
        border-collapse: collapse;
        cursor: default;
        thead {
          @include width(100%, 100%);
          tr {
            @include centerFlex(flex, row, flex-start, center, 0);
            @include height(3.5rem, 3.5rem);
            th {
              @include centerFlex(flex, row, flex-start, center, 0);
              @include width(8.66rem, 8.66rem);
              @include height(3.5rem, 3.5rem);
              border: 0.2rem solid $white-950;
              background-color: $white-100;
              position: relative;
              height: 3rem;
              padding: 0.5rem;
              text-align: left;
              font-size: 1rem;
            }
          }
        }
        tbody {
          @include width(100%, 100%);
          tr {
            @include centerFlex(flex, row, flex-start, center, 0);
            height: auto;
            @include width(auto, auto);
            background-color: $white-100;
            border-radius: 0.7rem;
            margin-bottom: 0.2rem;
            border: 0.2rem solid $white-950;
            td {
              @include centerFlex(flex, column, flex-start, flex-start, 0.5rem);
              @include width(8.63rem, 8.63rem);
              height: auto;
              padding: 0.5rem;
              text-align: left;
              white-space: normal;
            }
          }
        }
      }
    }
  }
  .historySection {
    @include centerFlex(flex, row, center, center, 0);
    @include width(100%, 100%);
  }
}
