@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionTicketInfo {
  @include centerFlex(flex, column, flex-start, center, 2rem);
  @include width(100%, 100%);
  h1 {
    @include centerFlex(flex, row, flex-start, center, 0.5rem);
    @include height(4rem, 4rem);
    @include width(100%, 100%);
    background-color: $white-200;
    padding: 1rem;
    font-size: 1.8rem;
    color: $white-950;
    cursor: default;
    span {
      @include centerFlex(flex, row, center, center, 0);
      color: $black;
    }
  }
  .editContainer {
    @include centerFlex(flex, row, space-between, center, 0);
    @include width(100%, 100%);
    padding: 0 1rem;
    .editButton {
      @include button(rgb(27, 81, 126), none);
      @include centerFlex(flex, row, space-between, center, 0);
      @include width(8rem, 8rem);
      @include height(3rem, 3rem);
      color: $white-100;
      font-size: 1.1rem;
      padding: 0.9rem;
      border-radius: 0.3rem;
      transition: 0.1s ease;
      span {
        @include centerFlex(flex, row, center, center, 0);
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    .cancel {
      @include centerFlex(flex, row, center, center, 0);
      background-color: rgb(247, 40, 40);
    }
    .aceptButton {
      @include centerFlex(flex, row, center, center, 0);
      @include button(rgb(9, 117, 9), none);
      @include width(8rem, 8rem);
      @include height(3rem, 3rem);
      color: $white-100;
      font-size: 1.1rem;
      padding: 0.9rem;
      border-radius: 0.3rem;
      transition: 0.1s ease;
      &:hover {
        background-color: $white-100;
        color: rgb(9, 117, 9);
      }
    }
  }
  .infoTicketSection {
    @include centerFlex(flex, column, center, flex-start, 0);
    @include width(100%, 100%);
    .topInfoSection {
      @include centerFlex(flex, row, center, center, 0);
      @include width(100%, 100%);
      @include height(4.5rem, auto);
      background-color: $white-200;
      ul {
        @include centerFlex(flex, row, flex-start, center, 2rem);
        @include width(100%, 100%);
        flex-wrap: wrap;
        list-style: none;
        padding: 1rem;
        @include centerFlex(flex, row, flex-start, center, 2rem);
        li {
          @include centerFlex(flex, column, center, flex-start, 0.5rem);
          color: $white-950;
          p {
            font-weight: bold;
          }
        }
      }
    }
  }
  .infoSection {
    @include centerFlex(flex, column, flex-start, flex-start, 0);
    @include width(52rem, 52rem);
    padding: 1rem;
    background-color: $white-300;
    .buttonsContainer {
      background-color: $white-200;
      button {
        @include button(transparent, none);
        @include width(10rem, 10rem);
        border: 0.2rem solid $white-950;
        padding: 1rem;
        font-weight: bold;
        &:hover {
          background-color: $white-400;
        }
      }
      .selected {
        background-color: $white-400;
        color: $white-950;
      }
    }
    .detailTitle {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include width(100%, 100%);
      background-color: $white-100;
      color: $pumpkin-700;
      padding: 0.5rem;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $black;
      }
    }
    .detailSection {
      @include centerFlex(flex, row, space-between, flex-start, 2rem);
      @include width(100%, 100%);
      .detailContainer {
        background-color: $white-200;
        padding: 0.5rem;
        h4 {
          @include centerFlex(flex, row, flex-start, center, 0.5rem);
          @include width(100%, 100%);
          color: $white-950;
          padding: 1rem 0.5rem;
          span {
            @include centerFlex(flex, row, center, center, 0);
            color: $black;
          }
        }
        .commentSection {
          padding: 0.5rem;
          div {
            div {
              .dateComments {
                font-style: italic;
                color: $white-950;
              }
            }
          }
        }
      }
      .informationContainer {
        background-color: $white-200;
        padding: 0.5rem;
        h4 {
          @include centerFlex(flex, row, flex-start, center, 0.5rem);
          @include width(100%, 100%);
          color: $white-950;
          padding: 1rem 0.5rem;
          span {
            @include centerFlex(flex, row, center, center, 0);
            color: $black;
          }
        }
        div {
          @include centerFlex(flex, column, flex-start, flex-start, 0.5rem);
          padding: 0.5rem;
          p {
            span {
              font-weight: bold;
              color: $white-950;
            }
            color: $white-950;
          }
        }
      }
    }
  }
  .clientSection {
    @include centerFlex(flex, column, flex-start, flex-start, 0rem);
    @include width(100%, 100%);
    h3 {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include width(100%, 100%);
      background-color: $white-100;
      color: $pumpkin-700;
      padding: 0.5rem;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $black;
      }
    }
    div {
      @include centerFlex(flex, column, flex-start, flex-start, 0.5rem);
      padding: 0.5rem;
      background-color: $white-200;
      p {
        span {
          font-weight: bold;
          color: $white-950;
        }
        color: $white-950;
      }
    }
  }
  .mapSection {
    @include centerFlex(flex, column, center, center, 0);
    @include width(100%, 100%);
    .mapContainer {
      @include width(100%, 100%);
      h3 {
        @include centerFlex(flex, row, center, center, 0.5rem);
        @include width(100%, 100%);
        background-color: $white-100;
        color: $pumpkin-700;
        padding: 0.5rem;
        span {
          @include centerFlex(flex, row, center, center, 0);
          color: $black;
        }
      }
    }
  }
  .descriptionSection {
    @include centerFlex(flex, column, flex-start, flex-start, 0);
    @include width(100%, 100%);
    h3 {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include width(100%, 100%);
      background-color: $white-100;
      color: $pumpkin-700;
      padding: 0.5rem;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $black;
      }
    }
    div {
      @include centerFlex(flex, column, flex-start, flex-start, 0.5rem);
      padding: 0.5rem;
      background-color: $white-200;
      p {
        color: $white-950;
      }
    }
  }
  .historySection {
    @include centerFlex(flex, column, flex-start, flex-start, 0);
    @include width(100%, 100%);
    h3 {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include width(100%, 100%);
      background-color: $white-100;
      color: $pumpkin-700;
      padding: 0.5rem;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $black;
      }
    }
    div {
      @include width(100%, 100%);
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}
