@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionAdministrator {
  @include centerFlex(flex, column, flex-start, center, 0.5rem);
  @include width(100%, 100%);
  h1 {
    @include centerFlex(flex, row, flex-start, center, 0.5rem);
    @include height(4rem, 4rem);
    @include width(100%, 100%);
    background-color: $white-200;
    padding: 1rem;
    font-size: 1.8rem;
    color: $white-950;
    cursor: default;
    span {
      @include centerFlex(flex, row, center, center, 0);
      color: $black;
    }
  }
  .clients {
    @include width(100%, 100%);
    h2 {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include height(4rem, 4rem);
      @include width(100%, 100%);
      background-color: $white-200;
      padding: 1rem;
      font-size: 1.8rem;
      color: $white-950;
      cursor: default;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $pumpkin-600;
      }
    }
    div {
      @include centerFlex(flex, row, flex-end, center, 0.1rem);
      @include width(100%, 100%);
      padding: 1.5rem 1rem;
      .excelButton {
        @include centerFlex(flex, row, center, center, 0.1rem);
        @include button(rgb(9, 117, 9), none);
        @include width(7rem, 7rem);
        @include height(2rem, 2rem);
        border-radius: 0.2rem;
        font-size: 1rem;
        color: $white-100;
        transition: 0.2s ease;
        span {
          @include centerFlex(flex, row, center, center, 0);
        }
        &:hover {
          background-color: $white-200;
          color: rgb(9, 117, 9);
        }
      }
    }
    .tableContainerTwo {
      @include centerFlex(flex, row, center, center, 0);
      @include width(100%, 100%);
      padding: 0 1rem;
      background-color: $white-500;
      .tableContainer {
        @include centerFlex(flex, row, flex-start, center, 0);
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        table {
          @include centerFlex(inline-flex, column, center, center, 0.1rem);
          @include width(auto, auto);
          @include height(100%, 100%);
          border-collapse: collapse;
          cursor: default;
          thead {
            @include width(100%, 100%);
            tr {
              @include centerFlex(flex, row, flex-start, center, 0);
              @include height(3.5rem, 3.5rem);
              th {
                @include centerFlex(flex, row, flex-start, center, 0);
                @include width(8.66rem, 8.66rem);
                @include height(3.5rem, 3.5rem);
                border: 0.2rem solid $white-950;
                background-color: $white-100;
                position: relative;
                height: 3rem;
                padding: 0.5rem;
                text-align: left;
                font-size: 1rem;
              }
            }
          }
          tbody {
            @include width(100%, 100%);
            tr {
              @include centerFlex(flex, row, flex-start, center, 0);
              @include height(3rem, 3rem);
              @include width(auto, auto);
              background-color: transparent;
              z-index: 3;
              background-color: $white-100;
              border-radius: 0.7rem;
              margin-bottom: 0.2rem;
              td {
                @include centerFlex(flex, row, flex-start, center, 0);
                @include width(8.63rem, 8.63rem);
                height: 3rem;
                padding: 0.5rem 0 0.5rem 0.5rem;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  .citiesSection {
    @include width(100%, 100%);
    margin-top: 0.5rem;
    h2 {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include height(4rem, 4rem);
      @include width(100%, 100%);
      background-color: $white-200;
      padding: 1rem;
      font-size: 1.8rem;
      color: $white-950;
      cursor: default;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $pumpkin-600;
      }
    }
    .showCitiesButton {
      @include button(rgb(27, 81, 126), none);
      @include centerFlex(flex, row, space-between, center, 0);
      @include width(8rem, 8rem);
      @include height(3rem, 3rem);
      color: $white-100;
      font-size: 1.1rem;
      padding: 0.9rem;
      margin: 1rem;
      border-radius: 0.3rem;
      transition: 0.1s ease;
      span {
        @include centerFlex(flex, row, center, center, 0);
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    .olContainer {
      @include centerFlex(flex, row, center, center, 0);
      @include width(100%, 100%);
      ol {
        @include centerFlex(flex, row, center, center, 0);
        @include width(100%, 100%);
        flex-wrap: wrap;
        list-style: none;
        background-color: $white-500;
        li {
          @include centerFlex(flex, row, center, center, 0.5rem);
          margin: 1rem;
          background-color: $white-100;
          padding: 0.5rem 0.6rem;
          border-radius: 0.3rem;
          cursor: default;
          button {
            @include centerFlex(flex, row, center, center, 0);
            @include button(rgb(253, 89, 89), none);
            @include width(1.5rem, 1.5rem);
            height: 1.5rem;
            border-radius: 0.2rem;
            transition: 0.2s ease;
            svg {
              @include width(1rem, 1rem);
              height: 1rem;
            }
            &:hover {
              background-color: rgb(250, 38, 38);
              color: $white-100;
            }
          }
        }
      }
    }
  }
  .addCitySection {
    @include centerFlex(flex, column, center, center, 0.5rem);
    @include width(100%, 100%);
    padding: 0 1rem;
    div {
      @include centerFlex(flex, row, flex-start, center, 0);
      @include width(100%, 100%);
      .addCityButton {
        @include button(rgb(9, 117, 9), none);
        @include centerFlex(flex, row, space-between, center, 0);
        @include width(8rem, 8rem);
        @include height(3rem, 3rem);
        color: $white-100;
        font-size: 1.1rem;
        padding: 0.9rem;
        margin: 0.5rem 0;
        border-radius: 0.3rem;
        transition: 0.1s ease;
        span {
          @include centerFlex(flex, row, center, center, 0);
          margin-left: 0.3rem;
          svg {
            @include width(1.5rem, 1.5rem);
            @include height(1.5rem, 1.5rem);
          }
        }
        &:hover {
          transform: scale(1.05);
        }
      }
      .cancel {
        background-color: rgb(247, 40, 40);
      }
    }
  }
  form {
    @include centerFlex(flex, row, flex-start, center, 1rem);
    @include width(100%, 100%);
    input {
      @include width(11rem, 11rem);
      @include height(2.2rem, 2.2rem);
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
      font-size: 1rem;
    }
    button {
      @include centerFlex(flex, row, space-between, center, 0);
      @include button(rgb(9, 117, 9), none);
      @include width(5.5rem, 5.5rem);
      @include height(2.2rem, 2.2rem);
      color: $white-100;
      font-size: 1.1rem;
      padding: 0.9rem;
      margin: 0.5rem 0;
      border-radius: 0.3rem;
      transition: 0.1s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .usersSection {
    @include centerFlex(flex, column, center, flex-start, 0.5rem);
    @include width(100%, 100%);
    h2 {
      @include centerFlex(flex, row, center, center, 0.5rem);
      @include height(4rem, 4rem);
      @include width(100%, 100%);
      background-color: $white-200;
      padding: 1rem;
      font-size: 1.8rem;
      color: $white-950;
      cursor: default;
      span {
        @include centerFlex(flex, row, center, center, 0);
        color: $pumpkin-600;
      }
    }
    ol {
      @include centerFlex(flex, column, center, flex-start, 0.5rem);
      margin: 1rem 1rem;
      list-style: none;
      background-color: $white-200;
      padding: 0.5rem;
      border-radius: 0.2rem;
      li {
        @include centerFlex(flex, row, space-between, center, 1rem);
        @include width(100%, 100%);
        button {
          @include height(1.5rem, 1.5rem);
          @include width(2rem, 2rem);
          @include button($white-300, none);
          border-radius: 0.2rem;
          svg {
            @include centerFlex(flex, row, center, center, 0);
            @include width(100%, 100%);
          }
          &:hover {
            background-color: $white-950;
            color: $white-100;
          }
        }
      }
    }
  }
}
