@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionTicket {
  @include width(100%, 100%);
  .topOptions {
    @include centerFlex(flex, row, space-between, center, 0);
    .dateContainer {
      @include centerFlex(flex, row, center, center, 1rem);
      padding: 0.5rem;
      div {
        h3 {
          color: $pumpkin-400;
          font-size: 1rem;
          padding-bottom: 0.2rem;
          cursor: default;
        }
      }
    }
    .leftSection {
      @include centerFlex(flex, row, center, center, 0.5rem);
      padding-right: 0.6rem;
      margin-top: 0.5rem;
      .renderList {
        @include centerFlex(flex, column, center, center, 0);
        @include width(2.5rem, 2.5rem);
        position: relative;
        .columnsButton {
          @include centerFlex(flex, row, center, center, 0);
          @include button($pumpkin-600, none);
          @include width(2.5rem, 2.5rem);
          @include height(2rem, 2rem);
          border-radius: 0.2rem;
          color: $pumpkin-950;
          transition: 0.2s ease;
          svg {
            @include width(2rem, 2rem);
            @include height(1.5rem, 1.5rem);
          }
          &:hover {
            color: $white-100;
          }
        }
        .selected {
          color: $white-100;
        }
        .options {
          @include centerFlex(flex, column, flex-start, flex-start, 0.5rem);
          @include width(27.5rem, 27.5rem);
          @include height(15rem, 15rem);
          position: absolute;
          top: 0;
          flex-wrap: wrap;
          right: 2.7rem;
          padding: 1.5rem 1rem;
          background-color: $pumpkin-400;
          border-radius: 0.2rem;
          z-index: 99;
          opacity: 0;
          height: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, height 0s ease 0.3s,
            visibility 0s ease 0.3s;
          -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          .list {
            @include centerFlex(flex, row, center, center, 0.5rem);
            span {
              @include centerFlex(flex, row, center, center, 0);
              @include width(1.5rem, 1.5rem);
              @include height(1.5rem, 1.5rem);
              svg {
                @include width(1.2rem, 1.2rem);
                @include height(1.2rem, 1.2rem);
              }
            }
            button {
              @include button($white-100, none);
              @include width(10rem, 10rem);
              @include height(1.5rem, 1.5rem);
              border-radius: 0.2rem;
            }
          }
          &.show {
            opacity: 1;
            height: auto;
            visibility: visible;
            transition: opacity 0.3s ease, height 0s ease 0s,
              visibility 0s ease 0s;
          }
        }
      }
      .excelButton {
        @include centerFlex(flex, row, center, center, 0.1rem);
        @include button(rgb(9, 117, 9), none);
        @include width(7rem, 7rem);
        @include height(2rem, 2rem);
        border-radius: 0.2rem;
        font-size: 1rem;
        color: $white-100;
        transition: 0.2s ease;
        span {
          @include centerFlex(flex, row, center, center, 0);
        }
        &:hover {
          background-color: $white-200;
          color: rgb(9, 117, 9);
        }
      }
    }
  }

  .ticketList {
    @include width(100%, 100%);
    padding: 0 0.5rem;
    .tableSection {
      overflow-x: scroll;
      table {
        cursor: default;
        @include width(100%, 100%);
        thead {
          tr {
            background-color: $white-100;
            th {
              @include width(6rem, 6rem);
              position: relative;
              height: 3rem;
              padding: 0.5rem;
              text-align: left;
              font-size: 1rem;
              select {
                @include width(4.8rem, 4.8rem);
                @include height(1.5rem, 1.5rem);
                cursor: pointer;
              }
              select option {
                background-color: $pumpkin-400;
                color: $white-950;
                font-size: 1rem;
              }
              button {
                @include centerFlex(flex, row, center, center, 0);
                @include width(1.5rem, 1.5rem);
                @include height(1.5rem, 1.5rem);
                position: absolute;
                top: 0.8rem;
                right: 0.5rem;
                transition: 0.3s ease;
                cursor: pointer;
                svg {
                  @include width(1rem, 1rem);
                  @include height(1rem, 1rem);
                }
              }
            }
          }
        }
        tbody {
          tr {
            background-color: $white-400;
            td {
              @include width(6rem, 6rem);
              height: 3rem;
              padding: 0.5rem;
              text-align: left;
            }
          }
        }
      }
    }
    .ticketInfo {
      font-size: 0.85rem;
    }
  }
}

.actions {
  @include centerFlex(flex, row, center, center, 0);
  @include width(100%, 100%);
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  div {
    @include centerFlex(flex, row, center, center, 0.5rem);
    @include width(100%, 100%);
    height: 3rem;
    .delete {
      @include button(rgb(253, 89, 89), none);
    }
    .edit {
      @include button(rgb(89, 160, 253), none);
    }
    button {
      @include width(1.5rem, 1.5rem);
      height: 1.5rem;
      border-radius: 0.2rem;
      transition: 0.2s ease;
      svg {
        @include width(1rem, 1rem);
        height: 1rem;
      }
      &:hover {
        background-color: $white-100;
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
