@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionTicket {
  @include width(100%, 100%);
  .renderList {
    @include centerFlex(flex, column, center, center, 0);
    @include width(9rem, 9rem);
    div {
      @include centerFlex(flex, column, center, center, 0);
      .list {
        @include centerFlex(flex, row, center, center, 0);
        @include width(100%, 100%);
      }
    }
  }
  .ticketList {
    @include width(100%, 100%);
    .tableSection {
      overflow-x: scroll;
      table {
        @include width(100%, 100%);
        thead {
          tr {
            background-color: $white-100;
            th {
              @include width(6rem, 6rem);
              position: relative;
              height: 3rem;
              padding: 0.5rem;
              text-align: left;
              font-size: 1rem;
              select {
                @include width(4.8rem, 4.8rem);
                cursor: pointer;
              }
              button {
                @include centerFlex(flex, row, center, center, 0);
                @include width(1.5rem, 1.5rem);
                @include height(1.5rem, 1.5rem);
                position: absolute;
                top: 0.8rem;
                right: 0.5rem;
                transition: 0.3s ease;
                cursor: pointer;
                svg {
                  @include width(1rem, 1rem);
                  @include height(1rem, 1rem);
                }
              }
            }
          }
        }
        tbody {
          tr {
            background-color: $white-400;
            td {
              @include width(6rem, 6rem);
              height: 3rem;
              padding: 0.5rem;
              text-align: left;
            }
          }
        }
      }
    }
    .ticketInfo {
      font-size: 0.85rem;
    }
  }
}
