@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionSideBar {
  @include centerFlex(flex, column, center, center, 0);
  @include height(100%, 100%);
  position: fixed;
  top: 6.45rem;
  background-color: $white-400;
}