@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionSideBar {
  @include centerFlex(flex, column, flex-start, center, 0);
  @include height(100%, 100%);
  @include width(3.5rem, 3.5rem);
  position: fixed;
  top: 4rem;
  background-color: $pumpkin-700;
  transition: 0.2s ease;
  z-index: 1000;
  .toggleButton {
    @include centerFlex(flex, row, center, center, 0);
    @include button($pumpkin-800, none);
    @include width(100%, 100%);
    @include height(2.5rem, 2.5rem);
    padding: 0.2rem 0.3rem;
    transition: 0.2s ease;
    z-index: 1;
    span {
      @include width(1.5rem, 1.5rem);
      color: $white-100;
      svg {
        @include width(1.5rem, 1.5rem);
        @include height(2.5rem, 2.5rem);
        transition: 0.2s ease;
      }
    }
  }
  .isOpen {
    justify-content: flex-start;
    padding: 0.2rem 0.55rem;
    span {
      svg {
        transform: scaleX(-1);
        transition: 0.2s ease;
      }
    }
  }
  .navigateButtons {
    @include centerFlex(flex, column, flex-start, center, 0.5rem);
    @include width(100%, 100%);
    padding: 0.4rem 0.1rem;
    button {
      @include centerFlex(flex, row, center, center, 0);
      @include width(100%, 100%);
      @include height(2.5rem, 2.5rem);
      @include button(transparent, none);
      border-radius: 0.5rem;
      transition: 0.2s ease;
      padding: 0 0.5rem;
      color: $white-100;
      span {
        @include width(1.5rem, 1.5rem);
        @include height(2.5rem, 2.5rem);
        svg {
          @include width(1.5rem, 1.5rem);
          @include height(2.5rem, 2.5rem);
          transition: 0.05s ease;
        }
      }
      p {
        position: absolute;
        visibility: hidden;
      }
      &:hover {
        background-color: $pumpkin-800;
      }
    }
  }
  .openIcons {
    button {
      @include centerFlex(flex, row, flex-start, center, 0.8rem);
      transition: 0.1s ease;
      p {
        position: relative;
        visibility: visible;
      }
    }
  }
}

.hiddeBar {
  @include centerFlex(flex, column, flex-start, center, 0);
  @include height(100%, 100%);
  @include width(10rem, 10rem);
  position: fixed;
  top: 4rem;
  left: -10rem;
  background-color: $pumpkin-700;
  transition: 0.3s ease;
  z-index: 1003;
  .toggleButton {
    @include centerFlex(flex, row, flex-end, center, 0);
    @include button($pumpkin-800, none);
    @include width(100%, 100%);
    @include height(2.5rem, 2.5rem);
    padding: 0.2rem 0.8rem;
    transition: 0.2s ease;
    z-index: 1;
    transform: scaleX(-1);
    span {
      @include width(1.5rem, 1.5rem);
      color: $white-100;
      svg {
        @include width(1.5rem, 1.5rem);
        @include height(2.5rem, 2.5rem);
        transition: 0.2s ease;
      }
    }
  }
  .navigateButtons {
    @include centerFlex(flex, column, flex-start, center, 0.5rem);
    @include width(100%, 100%);
    padding: 0.4rem 0.3rem;
    button {
      @include centerFlex(flex, row, flex-start, center, 1rem);
      @include width(100%, 100%);
      @include height(2.5rem, 2.5rem);
      @include button(transparent, none);
      border-radius: 0.5rem;
      transition: 0.2s ease;
      padding: 0 0.5rem;
      color: $white-100;
      span {
        @include width(1.5rem, 1.5rem);
        @include height(2.5rem, 2.5rem);
        svg {
          @include width(1.5rem, 1.5rem);
          @include height(2.5rem, 2.5rem);
          transition: 0.05s ease;
        }
      }
      &:hover {
        background-color: $pumpkin-800;
      }
    }
  }
}

.open {
  left: 0;
}

@media (max-width: 500px) {
  .sectionSideBar {
    position: fixed;
    left: -3.5rem;
    .toggleButton {
      @include width(3rem, 3rem);
      @include height(4rem, 4rem);
      position: absolute;
      top: -4rem;
      right: -3rem;
    }
  }
}