@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=VT323&display=swap');

$primary-color: #D3DEB3;
$secondary-color: #567B53;
$third-color: #1A2D19;
$font-color: #1A2D19;
$primary-blue: #04325B;
$secondary-blue: #084e8b;
$primary-red: #8a0606;
$secondary-red: #bb1919;
$primary-orange: #c05c0a;
$secondary-orange: #e28030;
$primary-purple: #4a0a7e;
$secondary-purple: #622097;
$black: #070707;
$primary-font: 'VT323', monospace;
$primary-size: 2rem;